
.font-105, .font-104, .font-100, .font-30, .font-50, .font-90, .font-80, .font-70, .font-55, .font-20 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
  background-color: rgb(0, 0, 0);
  height:130px;
  margin-bottom:10px;
  display: flex;
  padding:10px;
}

.i {
  margin-right:-34.5px;
  margin-bottom:-30px
}

.logo {
  color: rgb(255, 255, 255);
  display: flex;
  margin-top: -10px;
  padding:5px
}

.erch {
  margin-left:-13px;
  margin-top:68px;
}

.l {
 margin-left:-79.8px;
 margin-bottom:-50px;

}

.ounge {
  margin-left: -10px;
  margin-bottom:-109px;
}





