:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width:1080px;
  margin: 0 auto;
}

#root {
  width: 100%;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ffffff;
  text-decoration: inherit;
  padding: 3px 5px;
  margin: 5px
}

button:hover {
  background-color: blue;
  border:none;

}

body {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  place-items: flex-start;
  
  min-height: 100%;
  /* border: 4pt solid red; */
  
}

.container-row {
  display: flex;
  flex-direction: row;
  padding:5px;

}
.container {
  display: flex;
  align-items: center;
}

.outline {
  border: 2pt solid red;
}

.outline2 {
  border: 2pt solid rgb(1, 251, 255);
}