.shops-container {
  padding: 5px;
  display: flex;
  gap:10px;
  flex-wrap: wrap;

}

.shops-container-col {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.user-shops {
display: flex;
align-items: flex-end;
gap:5px;
background-color: rgb(221, 222, 245);
padding:10px;
border-radius: 10px;
}

.shop-item {
  width:80px;
  height:auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.shop-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-shops img {
  display: flex;
  width:80px;
  flex-direction: row;
  padding:5px;
  border: 1pt solid black;
  border-radius: 20px;
  background-color: #9c9c9c;
}

.bottom {
  display: flex;
  align-items: flex-end;
  align-content: flex;
  justify-content: flex-start;
  border: 2pt solid green;
  width:100%;
}
