.shops-container {
  padding: 5px;
  display: flex;
  gap:10px;
  border: 2pt solid green
}

.shops-container-col {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.user-shops-container {
display: flex;
align-items: flex-end;
gap:5px

}

.shop-item {
  max-width:20%;
  max-height:20%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.shop-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.user-shops img {
  display: flex;
  width:80px;
  flex-direction: row;
}
